pinecone
langchain_text_splitters
langchain_huggingface
langchain_community
pypdf
sentence-transformers
python-dotenv
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
aiosqlite
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
langgraph
langchain
langchain-groq
langchain-openai
langchain-core
langchain-pinecone>=0.2.0
yfinance
tavily-python
requests
streamlit
pydantic[email]
pydantic-settings
httpx
